.userSingleDiv {
  width: 100%;
  padding: 50px 10vw;
  min-height: 100vh;
  word-wrap: break-word !important;  
  white-space: pre-line !important;
  overflow-wrap: break-word !important;
  word-break: break-all !important;
  text-align: center;
}
.userSingleDiv h1 {
  margin: 0 !important;
  padding: 0 !important;
}
.p {
  color: var(--footerText);
  margin-top: 5px;
  margin-bottom: 20px;
}
.detailsDiv {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--darkWhite);
}
.tableContainer{
  width: 100%;
  height: fit-content;
  padding: 0 !important;
  margin: 0 !important;
}
@media only screen and (max-width: 768px) {
  .userSingleDiv {
    padding: 20px 5vw;
  }
  .userSingleDiv p {
    margin-bottom: 10px;
  }
}
