.buttonNoBorder{
    background-color: var(--white);
    border: none;
    outline: none;
    box-shadow: none;
}
.buttonNoBorder span{
    color: var(--purple);
}
.buttonNoBorder:hover{
    background-color: rgba(120, 102, 213, 0.1);
    color: var(--purple);
}
.buttonNoBorder:focus, .buttonNoBorder:active{
    background-color: var(--white);
    color: var(--purple);
}