.secondFold{
    width: 100%;
    padding: 50px 10vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    color: var(--black);
    background-color: rgba(238, 243, 245, 1);
}
.heading{
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}
.articlesDiv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
@media only screen and (max-width: 768px) {
    .secondFold {
      padding: 40px 5vw;
      flex-direction: column;
      gap:40px;
    }
}