:root {
  /* --purple: #7567ce; */
  --purple: #7866d5;
  --lightPurple: #b2a4ff;
  --darkPurple: #181925;
  --white: #fefefe;
  --black: #0c0c0d;
  --darkWhite: #e9ebef;
  --greyishWhite: #f9f8fa;
  --greyishWhite: #fbfbfc;
  --green: #4caf50;
  /* color:#636676;
    color: #9291a5; */
  --footerText: #9596af;
  --twelve: 12px;
  --sixteen: 16px;
  --w3m-modal-z-index: 9000 !important;
}

body {
  background-color: var(--white);
  margin: 0;
  min-height: 100%;
  font-family: "TT Hoves", sans-serif;
  color: var(--black);
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  padding-top: 80px !important;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}

#nprogress .bar{
  background: var(--purple) !important;
  height: 5px !important;
}
#nprogress .spinner-icon{
  border-top-color: var(--purple) !important;
  border-left-color: var(--purple) !important;
}

.default-layout-web3modal{
  z-index: 9000 !important;
}

.w3m-overlay{
  z-index: 9000 !important;
}