.dashboard {
  width: 100%;
  padding: 50px 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkWhite);
  gap: 20px;
}
.performanceDiv {
  background-color: var(--white);
  border-radius: 4px;
  width: 100%;
}
.performanceDiv span {
  display: block;
  padding: 10px 15px;
}
.performanceDiv hr {
  padding: 0 !important;
  margin: 0 !important;
  width: 1px;
  background-color: var(--black);
  color: var(--black);
  width: 100%;
}
.performanceContainer {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.middleContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.middleDiv {
  width: 50% !important;
  background-color: var(--white);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--black);
}
.middleDiv span {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.middleDiv hr {
  padding: 0 !important;
  margin: 0 !important;
  width: 1px;
  background-color: var(--black);
  color: var(--black);
  width: 100%;
}
.middleDivContainer {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.statsDiv {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.statsDiv p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 12.5px;
  color: var(--footerText);
}
.statsDiv span {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--black);
  font-size: 25px;
}
.chart {
  /* transform: translateY(-10px) !important; */
}
.messagesContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  max-height: 483px !important;
  color: var(--black) !important;
}
.newsContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  max-height: 483px !important;
  /* color: var(--black) !important; */
}
.loadMoreButton {
  width: 100%;
  padding: 10px;
  background-color: var(--purple);
  border: none;
  color: var(--white);
}
.loadMoreButton:hover {
  opacity: 0.9;
}
.reloadIcon {
  outline: none;
  background: transparent;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
  cursor: pointer;
  color: var(--darkPurple);
}
@media only screen and (max-width: 768px) {
  .dashboard {
    width: 100%;
    padding: 20px 5vw;
  }
  .performanceContainer {
    flex-direction: column;
    gap: 20px;
  }
  .middleDiv {
    width: 100% !important;
  }
  .middleContainer {
    flex-direction: column;
    gap: 20px;
  }
  .stats {
    flex-direction: column;
    gap: 20px;
  }
  .chart {
    /* transform: translateX(200px) !important; */
  }
}
