.ant-click-animating-node {
  display: none !important;
}
[ant-click-animating-without-extra-node="true"]::after {
  display: none !important;
}
.ant-btn::after {
  all: unset !important;
}

.error-notification {
  border-radius: 4px !important;
}

.ant-spin-dot-item{
  background-color: var(--purple) !important;
}

.ant-input{
  border-color: var(--black) !important;
}

.ant-upload, .ant-upload-select, .ant-upload-list-item-container{
  width: 100% !important;
}
/* @/app/components/templates/loginPage/components/CookieBar.js*/
.cookieBarModal {
  width: 600px !important;
  max-width: 90vw !important;
  border-radius: 4px !important;
}
.cookieBarModal .ant-modal-title {
  font-size: 1.5rem !important;
  font-weight: 400;
  letter-spacing: normal !important;
  line-height: 2rem;
  padding-left: 18px !important;
}
.cookieBarModal .ant-modal-body {
  padding: 30px 20px 40px 20px;
}
.cookieBarModal .ant-switch-checked {
  background: var(--green) !important;
}

/* @/app/components/templates/createNft/CreateNft.js*/
.displayResultModal {
  width: 400px !important;
  max-width: 90vw !important;
  border-radius: 4px !important;
}
.displayResultModal .ant-modal-header {
  text-align: center !important;
}
.displayResultModal .ant-modal-title {
  font-size: 1.5rem !important;
  font-weight: 400;
  letter-spacing: normal !important;
  line-height: 2rem;
  padding-left: 18px !important;
}
.displayResultModal .ant-modal-body {
  padding: 30px 20px 40px 20px;
}

/* @/app/components/templates/transactionPage/TransactionPage.js*/
.transactionDiv .ant-table {
  border-radius: 4px;
}

.transactionDiv .ant-table-thead > tr > th:first-child {
  border-radius: 4px 0 0 0 !important;
}

.transactionDiv .ant-table-thead > tr > th:last-child {
  border-radius: 0 4px 0 0 !important;
}

.transactionDiv .ant-table-tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 4px !important;
}

.transactionDiv .ant-table-tbody > tr:last-child > td:last-child {
  border-radius: 0 0 4px 0 !important;
}

.transactionDiv .ant-table-filter-trigger {
  color: var(--white) !important;
}
.transactionDiv .ant-table-column-sorter {
  color: var(--white) !important;
}
.transactionDiv .ant-table-pagination-right {
  /* margin: 15px 0 0 0 !important; */
  justify-content: center;
}

.transactionDiv .ant-table-thead > tr > th {
  background: linear-gradient(360deg, var(--purple), var(--purple));
  /* background: var(--purple) !important; */
  color: var(--white) !important;
  text-align: center;
}
.transactionDiv .ant-table-thead > tr > .ant-table-column-has-sorters:active,
.transactionDiv .ant-table-thead > tr > .ant-table-column-has-sorters:focus,
.transactionDiv .ant-table-thead > tr > .ant-table-column-has-sorters:hover {
  background: linear-gradient(360deg, var(--purple), var(--purple)) !important;
  opacity: 0.9;
}
.transactionDiv .ant-table-thead > tr > .ant-table-column-sort {
  background: linear-gradient(360deg, var(--purple), var(--purple)) !important;
}
.ant-table-column-sort {
  background: transparent !important;
}
.transactionDiv .ant-table-tbody > tr > td {
  text-align: center;
}

.transactionDiv .ant-table-wrapper {
  margin: 0;
  padding: 0;
}

.transactionDiv .ant-pagination-item-link,
.transactionDiv .ant-pagination-item {
  border-radius: 100% !important;
}
.transactionDiv .ant-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
