.navbar {
  position: sticky;
  top: 0;
  /* left: 0;
  right: 0;
  bottom: auto; */
  z-index: 990;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0);
  height: 80px;
  padding: 15px 10vw;
}
.fixedNavbar{
  background-color: var(--white);
  box-shadow: 0 1px 25px 0 rgb(0 0 0 / 5%);
}
.logo{
  height: 50px;
  width: auto;
}
/* .sideDrawerButton {
  border-radius: 100% !important;
  height: 36px !important;
  width: 36px !important;
  background-size: contain !important;
  background-position: center !important;
} */
.buttonsContainer{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.dropdownButton{
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  border:none;
  outline:none;
}
.avatar{
  background-color: var(--purple) !important;
  color: var(--white) !important;
  cursor: pointer;
}
.avatar:hover{
  opacity: 0.85;
  transition: opacity .2s;
}


@media only screen and (max-width:768px){
  .navbar {
    height: 80px;
    padding: 15px 5vw;
  }
  .fixedNavbar{
    background-color: var(--white);
    box-shadow: 0 0 5px var(--black);
  }
  .logo{
    height: 40px;
    width: auto;
  }
  .buttonsContainer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
}