.codex-editor{
    border: 1px solid var(--black) !important;
    border-radius: 4px !important; 
    padding: 10px !important;
  }
  .codex-editor:hover, .codex-editor:focus, .codex-editor:active{
    border-color: var(--purple) !important;
  }
  .codex-editor__redactor{
    padding-bottom: 100px !important;
  }