.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    /* width: 100% !important; */
    padding: 6.631vw;
}
.output h1{
    width: fit-content;
}