.userDiv {
  width: 100%;
  padding: 50px 10vw;
  min-height: 100vh;
  text-align: center;
}
.userDiv h1 {
  margin: 0 !important;
  padding: 0 !important;
}
.userDiv p{
  color: var(--footerText);
  margin-top: 5px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .transaction {
    padding: 20px 5vw;
  }
  .userDiv p {
    margin-bottom: 30px;
  }
}
