.fifthFold {
  width: 100%;
  padding: 50px 10vw;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.2);
}
.heading {
  color: var(--black);
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 540;
  margin: 0 0 10px;
}
.subParagraph {
  margin-bottom: 30px;
  font-family: Hauora, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: var(--footerText);
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .fifthFold {
    padding: 40px 5vw;
  }
  .heading {
    font-size: 30px;
  }
}