.thirdFold {
  width: 100%;
  padding: 50px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--greyishWhite) !important;
  gap: 10px;
}
.mainDiv {
  width: 50%;
}
.heading {
  color: var(--black);
  font-size: 55px;
  line-height: 1.2em;
  font-weight: 540;
  margin: 0 0 10px;
}
.subParagraph {
  margin-bottom: 30px;
  font-family: Hauora, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: var(--footerText);
  /* max-width: 500px; */
}
.mainImageDiv {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainImage {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .thirdFold {
    padding: 40px 5vw;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .mainDiv {
    width: 100%;
    text-align: center;
  }
  .heading {
    font-size: 40px;
  }
  .mainImageDiv {
    width: 100%;
  }
  .mainImage {
    height: 90%;
    width: 90%;
  }
}